@{Layout = "~/_Layout.cshtml";}
    first create a reaction using something similar to the following syntax:
    <code>
        <pre>
            var rusting = new Reaction({
                reactants: [new Molecule('MgO'), new Molecule('Fe')],
                products: [new Molecule('Fe2O3'), new Molecule('Mg')]
            });
            rusting.toString();
        </pre>
    </code>
    output: <pre data-bind="text: rusting.toString();"></pre>
    Then make a call to balance the reaction.
    <pre>
        balanceReaction(rusting);
    </pre>
    output: <pre data-bind="text: rustingExampleTwo.toString();"></pre>
    <div id="periodic-table"></div>
    <div style="display: none">
        <div id="periodic-table-cell-template"></div>
    </div>

@section scripts{
    <script type="text/javascript" src="../js/lib/sylvester.js"></script>
    <script type="text/javascript" src="../js/app/Reaction.js"></script>
    <script type="text/javascript" src="../js/app/Molecule.js"></script>
    <script type="text/javascript" src="../js/app/stoichiometer.js"></script>
    <script>
        var rusting = new Reaction({
            reactants: [new Molecule('MgO'), new Molecule('Fe')],
            products: [new Molecule('Fe2O3'), new Molecule('Mg')]
        });

        var rustingExampleTwo = new Reaction({
            reactants: [new Molecule('MgO'), new Molecule('Fe')],
            products: [new Molecule('Fe2O3'), new Molecule('Mg')]
        });
        balanceReaction(rustingExampleTwo);
        ko.applyBindings();
      </script>
}